In [2]:
#1
width = 17
height = 12.0
delimiter = '.'
# type:width est de type int, value : 17
#height est de type float , value : 12.0
#delimiter est de type str , value : '.'

int

In [8]:
#a value 8.5 type : float
width/2

8.5

In [9]:
type(width/2)

float

In [11]:
#b value 8.5 type float
width/2.0

8.5

In [12]:
type(width/2.0)

float

In [13]:
#c value 4.0 type float
height/3

4.0

In [14]:
type(height/3)

float

In [17]:
#d value 11 type int
1+2*5

11

In [18]:
type(1+2*5)

int

In [19]:
#e value '.....' type str
delimiter * 5

'.....'

In [20]:
type(delimiter * 5)

str

In [22]:
#2 le volume est 
Jupyter Notebook
python00_IMSP-Mathias Current Kernel Logo 

Python 3

width = 17

height = 12.0

delimiter = '.'

# type:width est de type int, value : 17

#height est de type float , value : 12.0

#delimiter est de type str , value : '.'

int

#a value 8.5 type : float

width/2

​

8.5

type(width/2)

float

#b value 8.5 type float

width/2.0

​

8.5

type(width/2.0)

float

#c value 4.0 type float

height/3

​

​

4.0

type(height/3)

float

#d value 11 type int

1+2*5

11

type(1+2*5)

int

#e value '.....' type str

delimiter * 5

'.....'

type(delimiter * 5)

str

#2

r = 5

pi = 3.1415926535897931

volume = 4/3 * pi * r**3

volume

523.5987755982989
r = 5
pi = 3.1415926535897931

In [23]:
volume = 4/3 * pi * r**3

In [24]:
volume

523.5987755982989

In [28]:
var1 = 1
var2 = 5.0
var3 = "ten"

In [26]:
type(var1)

int

In [29]:
type(var2)

float

2

In [31]:
val1 = 2
val2 = 3
val3 = 3.0
val5 = 4.4
val4 = "string"

(i)

In [32]:
val1 - val2

-1

(ii)

In [33]:
val1 -val3

-1.0

(ii)

In [34]:
val3 - val4

TypeError: unsupported operand type(s) for -: 'float' and 'str'

In [35]:
val4 - val4

TypeError: unsupported operand type(s) for -: 'str' and 'str'

3

In [36]:
val1 * val2

6

In [37]:
val1 * val5

NameError: name 'val5' is not defined

In [38]:
val3 * val3

9.0

In [39]:
val3*val4

TypeError: can't multiply sequence by non-int of type 'float'

In [40]:
val4 * val4

TypeError: can't multiply sequence by non-int of type 'str'

In [41]:
val1 / val2

0.6666666666666666

In [42]:
val3 / val3

1.0

In [43]:
val3 / val4

TypeError: unsupported operand type(s) for /: 'float' and 'str'

In [44]:
val1 % val2

2

In [45]:
val1%val3

2.0

In [46]:
val3%val3

0.0

In [47]:
val3%val4

TypeError: unsupported operand type(s) for %: 'float' and 'str'

In [48]:
val1 < val2

True

In [49]:
val1 < val3

True

In [50]:
val1 > val2

False

In [51]:
val1 >val4
val2 >val5

TypeError: '>' not supported between instances of 'int' and 'str'

In [52]:
val1 <= val2

True

In [53]:
val1<= val4

TypeError: '<=' not supported between instances of 'int' and 'str'

In [54]:
val1 <= val3

True

In [55]:
val1 and val2

3

In [56]:
 val1 == val2

False